<% params[:page] == nil ? @page_number = 1 : @page_number = params[:page].to_i %>
<div class = "tools-area">
  <%= render 'layouts/tools_tab_control' %>
  <h1>Create custom <%= params[:type] == "private" ? "private" : "public" %> link</h1>
  <%= render 'layouts/create_custom_link_form' %>
  <% if params[:commit] == "Search" %>
    <h1>There is <%= @links_table.count%> results</h1>
  <% else %>
    <h1>Last links</h1>
  <% end %>
  <%= render 'layouts/search_form' %>
  <%= render 'layouts/links_table' %>
</div>