<header>
  <div class = "nav-center">
     <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="logo" href="/"><%= image_tag("Logo.png", size: "40x40") %> </a>
          <a class="navbar-brand" href="/">Cut! Cut! Cut!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li> <a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
          </ul>
          <div class = "nav-right-part">
           <ul class="nav navbar-nav">
             <li><a href="#">Tools</a></li>
             <% if user_signed_in? %>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                   <ul class="dropdown-menu">
                     <li> <%= current_user.email %> </li>
                     <li class="divider"></li>
                     <li><%= link_to 'Sign out', destroy_user_session_path %></li>
                   </ul>
                 </li>
             <% else %>
                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign<b class="caret"></b></a>
                   <ul class="dropdown-menu">
                     <li><%= link_to 'Sign in', new_user_session_path %></li>
                     <li><%= link_to 'Sign up', new_user_registration_path %></li>
                   </ul>
                 </li>
             <% end %>
           </ul>
          </div>
        </div>
      </div>
    </nav>
    </div>
</header>
