<% if @links_table[0] != nil %>
 <% params[:commit] == "Search"? provide(:title, 'Public tools | Search result — page ' + @page_number.to_s ) :
                                 provide(:title, 'Public tools | Last links  — page ' + @page_number.to_s ) %>
 <% @pages_count = @links_table.count/10 %>
 <% @pages_count += 1 if @links_table.count%10 != 0 %>
 <table>
   <th width="auto">Parent link</th>
   <th width="170px%">Child link</th>
   <th width="70px">Clicks</th>
   <th width="150px">Created</th>
   <th width="40px"></th>
   <% for i in 0..9%>
       <% if @links_table[i + (@page_number-1)*9] != nil %>
        <tr class="<% if (i%2 != 0)%>even"><% else %>uneven"><% end%>
        <td><%= @links_table[i + (@page_number-1)*9].parent_link %></td>
        <td><%= root_url + @links_table[i + (@page_number-1)*9].id %></td>
        <td><%= @links_table[i + (@page_number-1)*9].click_count %></td>
        <td><%= @links_table[i + (@page_number-1)*9].created_at.strftime("%d.%m.%Y %H:%M") %></td>
        <td><a href="<%= root_url + "links/" + @links_table[i + (@page_number-1)*9].id %>">more...</a></td>
       </tr>
       <% end %>
   <%end%>
 </table>
 <%= render  'layouts/paginate'%>
<% else %>
 <p> There is no such links.</p>
<% end %>