<% params[:page] = 1 if params[:page] == nil || params[:page].to_i < 1%>
<% params[:page] = params[:page].to_i %>
<div class="pagenav">
  <% if params[:page] > 1 %>
    <div class="prev" >
    <%= link_to 'Previous', request.parameters.merge({:page => params[:page] - 1}) %>
    </div>
  <% end %>
  <ul class="page-num">
    <% if params[:page] > 3 %>
        <li>...</li>
    <% end %>
    <% if params[:page] > 2 %>
        <li>
          <%= link_to (params[:page]-2).to_s, request.parameters.merge({:page => params[:page] - 2}) %>
        </li>
    <% end %>
    <% if params[:page] > 1 %>
        <li>
          <%= link_to (params[:page]-1).to_s, request.parameters.merge({:page => params[:page] - 1}) %>
        </li>
    <% end %>
    <li id = "this_page_number"> <%= params[:page] %> </li>
    <% if (params[:page] + 1) <= @pages_count %>
        <li>
          <%= link_to (params[:page]+1).to_s, request.parameters.merge({:page => params[:page] + 1}) %>
        </li>
    <% end %>
    <% if (params[:page] + 2) <= @pages_count %>
        <li>
          <%= link_to (params[:page]+2).to_s, request.parameters.merge({:page => params[:page] + 2}) %>
        </li>
    <% end %>
    <% if (params[:page] + 3) <= @pages_count %>
        <li>...</li>
    <% end %>
  </ul>
  <% if params[:page] < @pages_count %>
    <div class="next">
      <%= link_to 'Next',  request.parameters.merge({:page => params[:page] + 1}) %>
    </div>
  <% end %>
</div>