<%= form_tag(links_path, id: "link", method: "get") do %>
    <%= hidden_field_tag :type, params[:type] %>
    <%= label_tag(:input_link, "Find by ") %>
    <span class = "radiobtn">
       <%= radio_button_tag :search_column, "parent", checked: true%> parent link
      <% if params[:search_column] == "child" %>
             <%= radio_button_tag :search_column, "child", checked: true %> child link
       <% else %>
             <%= radio_button_tag :search_column, "child" %> child link
       <% end %>
      </span>
    <span class = "searchfield">
        <% if params[:input_link] != '' %>
          <%= text_field_tag(:input_link, nil, class: 'searchfield', value: params[:input_link]) %>
        <% else %>
           <%= text_field_tag(:input_link, nil, class: 'searchfield') %>
        <% end %>
      </span>
    <button class = "btn" value = "Search" id = "public_search_submit" type = "submit" method = "get" name = "commit" data-disable-with="Search">
      <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span> Search
    </button>
    <% submit_tag("Search", class: "btn", id: "public_search_submit", method: "get") %>
<% end %>